<section id="comment_{{ comment.comment_pk }}" class="d-flex gap-3">
    <img src="/{{ comment.user_avatar_path if comment.user_avatar_path else 'static/images/avatars/unknown.jpg' }}"
        class="w-8 h-8 rounded-full" alt="Profile Picture">
    <div class="w-full">
        <div class="d-flex j-content-between">
            <div class="d-flex gap-1">
                <div class="post-header">
                    <span class="name">
                        {{ comment.user_first_name }}
                        {{ comment.user_last_name }}
                    </span>
                    <span class="handle">@{{ comment.user_username }}</span> · <span class="time">
                        {% if comment.comment_created_at %}
                        {% if lan == "english" %}
                        {{ datetime.fromtimestamp(comment.comment_created_at).strftime('%d %b %Y') }}
                        {% else %}
                        {{ datetime.fromtimestamp(comment.comment_created_at).strftime('%d-%m-%Y') }}
                        {% endif %}

                        {{ x.lans('at_time') }}

                        {% if lan == "english" %}
                        {{ datetime.fromtimestamp(comment.comment_created_at).strftime('%I:%M %p') }}
                        {% else %}
                        {{ datetime.fromtimestamp(comment.comment_created_at).strftime('%H:%M') }}
                        {% endif %}

                        {% else %}
                        Recently
                        {% endif %}
                    </span>
                </div>
            </div>

            <div>
                {% if comment.user_pk == user.user_pk %}
                <button
                    mix-get="{{ url_for('api_edit_comment') }}?comment_pk={{ comment.comment_pk }}&post_pk={{ post_pk }}">
                    <i class="fa-solid fa-pen pointer-e-none"></i>
                </button>

                <button
                    mix-delete="{{ url_for('api_delete_comment') }}?comment_pk={{ comment.comment_pk }}&post_pk={{ post_pk }}"
                    class="text-c-red">
                    <i class="fa-solid fa-trash pointer-e-none"></i>
                </button>
                {% endif %}
            </div>
        </div>
        <div class="w-full ml-2">
            <p id="comment_text{{ comment.comment_pk }}">{{ comment.comment_text }}
                {% if comment.comment_updated_at > 0 %}
                <span class="edited">*Edited</span>
                {% endif %}
            </p>
        </div>
    </div>
</section>
